h1{
    color: darkviolet;
    font-family: Tahoma;
    
}
footer{
   background-color:indigo ;
   color: azure ;
}   
nav {
	float: right;
    border: 2px solid powderblue
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
        display:inline-block;
        }
	nav ul li {
            display:inline-block;
			line-height: 80px;
            border: 2px solid powderblue
		}
			
    nav ul li a {
	    display: inline-block;
		padding: 0 10px;
		text-decoration: none;
	}
			
	nav ul li a:hover {
		background: #d19bf9;
	}
    section {
        border: 2px solid powderblue;
      }

