h1{
    color: darkviolet;
    font-family: Tahoma;
    
}
footer{
   background-color:indigo ;
   color: azure ;
}  
nav { 
	display: block;
	position:relative; 
	margin:0 auto 20px;
	background-color:#a47eb6;
	text-decoration: none;
	text-decoration-color: #000000;
	border-left:1px solid rgb(0, 0, 0); 
	border-right:1px solid rgb(0, 0, 0);
}
nav ul {
	display: flex;
	list-style: none;
	position:relative;
	padding:0;
	margin: 0;
	left: 0;
}
nav a {
	padding:10px 20px;
	display: flex;
}
nav a:hover {
	background-color: #3c1072;
}
nav ul li ul {
	display: none;
	float:none;
}
nav ul li a:hover + ul, nav ul li ul:hover {
	display: block;
	float:none;
	border-right:none;
}


