header{
    color: darkviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
   background-color:indigo ;
   color: azure ;
}   
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
        display:inline-block;
        }
	nav ul li {
            display:inline-block;
			line-height: 80px;
		}
			
    nav ul li a {
	    display: inline-block;
		padding: 0 10px;
		text-decoration: none;
	}
			
	nav ul li a:hover {
		background: #0b76a6;
	}


