h1,h2{
	-webkit-text-stroke: azure;
	color: indigo; 
}
footer{
	background-color:#212020;
    color: azure ;
    border-top: rgb(252, 250, 250) 5px dashed;
}  

.icon-facebook2:before, .icon-github:before{
	content: "\ea91";
	color: white;
}

article,section {
 position: relative;
  top: 20px;
  right: 30px;
  left: 30px;
}
audio {
position: sticky;
top: 20px;
left: 40%;
right: 40%;
}
div {
	position: relative;
	top: 10%;
	left: 10%;
}



